const host = '{{ groups['dbMaster'][0] }}';
export const baseUrl = `http://${host}:5984`;
export const couchdb_tweets_name = '{{ couchdb_tweets_name }}';
export const couchdb_aurin_labour = '{{ couchdb_aurin_labour }}';
export const couchdb_mortality_name = '{{ couchdb_mortality_name }}';