const host = '{{ groups['dbMaster'][0] }}';
export const baseUrl = `http://${host}:5984`;
export const couchdbTweetsName = '{{ couchdb_tweets_name }}';
export const couchdbAurinLabour = '{{ couchdb_aurin_labour }}';
export const couchdbMortalityName = '{{ couchdb_aurin_mortality }}';
export const couchdbCrashName = '{{ couchdb_aurin_crash }}';
export const couchdbPopulationName = '{{ couchdb_aurin_population }}';

